<%= form_with model: @post, local: true do |f| %>
  <%= f.label :title, 'Título del Post' %>
  <%= f.text_field :title %>

  <%= f.label :content, 'Contenido del Post' %>
  <%= f.text_area :content %>

  <%= f.submit 'Enviar' %>
<% end %>